.reset-btn {
    background-color: #dc3545;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.322);
    transition: background-color 0.3s, transform 0.3s;
}

.reset-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
